<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [ ]:
!pip install pandas
!pip install matplotlib

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [1]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Write your code here

import pandas as pd

# Load the dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

# Step 1: Display column data types and non-null counts
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
# Write your code here

# Step 2: Display missing values per column
print("\nMissing Values Summary:")
missing_values = df.isnull().sum()
missing_percent = (missing_values / len(df)) * 100
missing_summary = pd.DataFrame({
    'Missing Count': missing_values,
    'Missing %': missing_percent.round(2)
})
print(missing_summary[missing_summary['Missing Count'] > 0])

Missing Values Summary:
                     Missing Count  Missing %
RemoteWork                   10631      16.25
CodingActivities             10971      16.77
EdLevel                       4653       7.11
LearnCode                     4949       7.56
LearnCodeOnline              16200      24.76
...                            ...        ...
JobSatPoints_11              35992      55.00
SurveyLength                  9255      14.14
SurveyEase                    9199      14.06
ConvertedCompYearly          42002      64.19
JobSat                       36311      55.49

[109 rows x 2 columns]

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
# Write your code here

import pandas as pd

# Load the dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

# Step 1: Show unique countries and their frequencies
country_counts = df['Country'].value_counts(dropna=False)
print("Top 20 most common Country values:")
print(country_counts.head(20))

# Step 2: Show less common/possibly inconsistent entries
print("\nRare or possibly inconsistent Country values (appearing < 5 times):")
rare_countries = country_counts[country_counts < 5]
print(rare_countries)

Top 20 most common Country values:
Country
United States of America                                11095
NaN                                                      6507
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
France                                                   2110
Canada                                                   2104
Poland                                                   1534
Netherlands                                              1449
Brazil                                                   1375
Italy                                                    1341
Australia                                                1260
Spain                                                    1123
Sweden                                                   1016
Russian Federation                                        925
Switzerland                                               876
Austria                                                   791
Czech Republic                                            714
Israel                                                    604
Name: count, dtype: int64

Rare or possibly inconsistent Country values (appearing < 5 times):
Country
Lao People's Democratic Republic         4
Liechtenstein                            4
Fiji                                     4
Bahamas                                  4
Gabon                                    4
Liberia                                  4
Swaziland                                4
Libyan Arab Jamahiriya                   4
Burkina Faso                             4
San Marino                               3
North Korea                              3
Democratic Republic of the Congo         3
Burundi                                  3
Sierra Leone                             3
Monaco                                   3
Bhutan                                   3
Guyana                                   3
Brunei Darussalam                        3
Mali                                     2
Democratic People's Republic of Korea    2
Guinea-Bissau                            2
Belize                                   2
Dominica                                 1
Papua New Guinea                         1
Central African Republic                 1
Equatorial Guinea                        1
Samoa                                    1
Guinea                                   1
Niger                                    1
Saint Kitts and Nevis                    1
Lesotho                                  1
Haiti                                    1
Micronesia, Federated States of...       1
Nauru                                    1
Chad                                     1
Djibouti                                 1
Solomon Islands                          1
Name: count, dtype: int64

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [6]:
## Write your code here
# Clean spacing and capitalization
df['Country'] = df['Country'].str.strip().str.title()

# Map common variations to standard country names
country_map = {
    'Us': 'United States',
    'Usa': 'United States',
    'U.S.': 'United States',
    'Uk': 'United Kingdom',
    'England': 'United Kingdom',
    'Viet Nam': 'Vietnam',
    'Korea, Republic Of': 'South Korea',
    'Iran, Islamic Republic Of...': 'Iran',
    'Russian Federation': 'Russia',
}

# Apply the mapping
df['Country'] = df['Country'].replace(country_map)


# Clean spacing and case
df['EdLevel'] = df['EdLevel'].str.strip().str.lower()

# Map common phrases to standard formats
edlevel_map = {
    "bachelor’s degree": "Bachelor’s degree",
    "bachelors degree": "Bachelor’s degree",
    "master’s degree": "Master’s degree",
    "doctoral degree": "Doctoral degree",
    "some college/university study without earning a degree": "Some college",
    "i prefer not to answer": "No answer",
    "secondary school (e.g. american high school, german realschule or hauptschule, etc.)": "Secondary school",
}

# Apply the mapping
df['EdLevel'] = df['EdLevel'].replace(edlevel_map)

# Optional: Capitalize for neatness
df['EdLevel'] = df['EdLevel'].str.title()

print("\nCleaned list of countries:")
print(sorted(df['Country'].dropna().unique()))

print("\nCleaned list of education levels:")
print(sorted(df['EdLevel'].dropna().unique()))

Cleaned list of countries:
['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua And Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia And Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo, Republic Of The...', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', "Côte D'Ivoire", "Democratic People'S Republic Of Korea", 'Democratic Republic Of The Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong (S.A.R.)', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle Of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', "Lao People'S Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libyan Arab Jamahiriya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Federated States Of...', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Nomadic', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic Of Korea', 'Republic Of Moldova', 'Republic Of North Macedonia', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts And Nevis', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan', 'Tajikistan', 'Thailand', 'Togo', 'Trinidad And Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom Of Great Britain And Northern Ireland', 'United Republic Of Tanzania', 'United States Of America', 'Uruguay', 'Uzbekistan', 'Venezuela, Bolivarian Republic Of...', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

Cleaned list of education levels:
['Associate Degree (A.A., A.S., Etc.)', 'Bachelor’S Degree (B.A., B.S., B.Eng., Etc.)', 'Master’S Degree (M.A., M.S., M.Eng., Mba, Etc.)', 'Primary/Elementary School', 'Professional Degree (Jd, Md, Ph.D, Ed.D, Etc.)', 'Secondary School (E.G. American High School, German Realschule Or Gymnasium, Etc.)', 'Some College', 'Something Else']

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [7]:
## Write your code here

import pandas as pd

# Load the dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

# Optional: Check unique values before encoding
print("Unique Employment values:")
print(df['Employment'].dropna().unique())

# Step 1: One-hot encode the Employment column
employment_encoded = pd.get_dummies(df['Employment'], prefix='Employment')

# Step 2: Concatenate the new one-hot encoded columns to the original DataFrame
df_encoded = pd.concat([df, employment_encoded], axis=1)

# Optional: Drop the original 'Employment' column if not needed
# df_encoded = df_encoded.drop('Employment', axis=1)

# Preview result
print("\nDataFrame with one-hot encoded Employment:")
print(df_encoded[[col for col in df_encoded.columns if 'Employment_' in col]].head())

Unique Employment values:
['Employed, full-time' 'Student, full-time'
 'Student, full-time;Not employed, but looking for work'
 'Independent contractor, freelancer, or self-employed'
 'Not employed, and not looking for work'
 'Employed, full-time;Student, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed'
 'Employed, full-time;Student, full-time' 'Employed, part-time'
 'Student, full-time;Employed, part-time'
 'Student, part-time;Employed, part-time' 'I prefer not to say'
 'Not employed, but looking for work' 'Student, part-time'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time'
 'Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed'
 'Student, full-time;Independent contractor, freelancer, or self-employed'
 'Employed, full-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed'
 'Student, full-time;Not employed, and not looking for work' 'Retired'
 'Independent contractor, freelancer, or self-employed;Student, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time'
 'Not employed, but looking for work;Student, part-time'
 'Not employed, but looking for work;Not employed, and not looking for work'
 'Independent contractor, freelancer, or self-employed;Retired'
 'Not employed, but looking for work;Student, part-time;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Not employed, and not looking for work'
 'Employed, full-time;Not employed, but looking for work'
 'Student, full-time;Not employed, and not looking for work;Student, part-time'
 'Employed, full-time;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Not employed, but looking for work;Employed, part-time'
 'Employed, full-time;Student, full-time;Employed, part-time'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Not employed, and not looking for work;Student, part-time'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Student, full-time;Student, part-time'
 'Student, full-time;Not employed, but looking for work;Student, part-time'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed'
 'Employed, full-time;Student, full-time;Student, part-time'
 'Not employed, but looking for work;Retired'
 'Employed, full-time;Student, full-time;Not employed, but looking for work'
 'Not employed, and not looking for work;Retired'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired'
 'Employed, full-time;Not employed, but looking for work;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time;Retired'
 'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time'
 'Student, full-time;Not employed, but looking for work;Retired'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time'
 'Student, part-time;Retired'
 'Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Retired'
 'Employed, full-time;Student, full-time;Student, part-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Employed, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time'
 'Independent contractor, freelancer, or self-employed;Student, part-time;Retired'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time'
 'Independent contractor, freelancer, or self-employed;Employed, part-time;Retired'
 'Employed, full-time;Not employed, and not looking for work'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired'
 'Student, full-time;Student, part-time;Employed, part-time'
 'Employed, part-time;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired'
 'Employed, full-time;Student, part-time;Employed, part-time'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired'
 'Student, full-time;Student, part-time;Retired'
 'Student, full-time;Not employed, and not looking for work;Employed, part-time'
 'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Not employed, but looking for work;Not employed, and not looking for work;Student, part-time;Employed, part-time'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time'
 'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Not employed, and not looking for work;Employed, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, full-time;Not employed, but looking for work;Not employed, and not looking for work;Employed, part-time'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired'
 'Not employed, but looking for work;Student, part-time;Retired'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Retired'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed'
 'Not employed, but looking for work;Not employed, and not looking for work;Student, part-time'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time'
 'Student, full-time;Retired'
 'Employed, full-time;Not employed, but looking for work;Student, part-time'
 'Not employed, and not looking for work;Student, part-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired']

DataFrame with one-hot encoded Employment:
   Employment_Employed, full-time  \
0                            True
1                            True
2                            True
3                           False
4                           False

   Employment_Employed, full-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Retired  \
0                                  False
1                                  False
2                                  False
3                                  False
4                                  False

   Employment_Student, full-time;Student, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

   Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, part-time  \
0                          False
1                          False
2                          False
3                          False
4                          False

   Employment_Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, part-time;Retired
0                                  False
1                                  False
2                                  False
3                                  False
4                                  False

[5 rows x 110 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [8]:
## Write your code here

import pandas as pd

# Load dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

# Step 1: Count missing values per column
missing_counts = df.isnull().sum()

# Step 2: Filter columns with missing values only
missing_counts = missing_counts[missing_counts > 0]

# Step 3: Calculate percentage of missing values
missing_percent = (missing_counts / len(df)) * 100

# Combine into a DataFrame for clarity
missing_summary = pd.DataFrame({
    'Missing Count': missing_counts,
    'Missing %': missing_percent.round(2)
})

# Step 4: Sort by most missing values
missing_summary = missing_summary.sort_values(by='Missing Count', ascending=False)

# Display the result
print("Columns with the most missing values:")
print(missing_summary)

Columns with the most missing values:
                            Missing Count  Missing %
AINextMuch less integrated          64289      98.25
AINextLess integrated               63082      96.40
AINextNo change                     52939      80.90
AINextMuch more integrated          51999      79.46
EmbeddedAdmired                     48704      74.43
...                                   ...        ...
YearsCode                            5568       8.51
NEWSOSites                           5151       7.87
LearnCode                            4949       7.56
EdLevel                              4653       7.11
AISelect                             4530       6.92

[109 rows x 2 columns]

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [9]:
## Write your code here

import pandas as pd

# Load dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

# Step 1: Check missing values in ConvertedCompYearly
missing_before = df['ConvertedCompYearly'].isnull().sum()
print(f"Missing before imputation: {missing_before}")

# Step 2: Impute using median
median_value = df['ConvertedCompYearly'].median()
df['ConvertedCompYearly'].fillna(median_value, inplace=True)

# Step 3: Verify
missing_after = df['ConvertedCompYearly'].isnull().sum()
print(f"Missing after imputation: {missing_after}")
print(f"Median used for imputation: {median_value}")

Missing before imputation: 42002
Missing after imputation: 0
Median used for imputation: 65000.0

/tmp/ipykernel_1230/1686463417.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(median_value, inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [10]:
## Write your code here

import pandas as pd

# Load dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

# Step 1: Check missing values in RemoteWork
missing_before = df['RemoteWork'].isnull().sum()
print(f"Missing values before imputation: {missing_before}")

# Step 2: Find the most frequent value (mode)
most_frequent = df['RemoteWork'].mode()[0]

# Step 3: Impute missing values with mode
df['RemoteWork'].fillna(most_frequent, inplace=True)

# Step 4: Verify
missing_after = df['RemoteWork'].isnull().sum()
print(f"Missing values after imputation: {missing_after}")
print(f"Most frequent value used: {most_frequent}")

Missing values before imputation: 10631
Missing values after imputation: 0
Most frequent value used: Hybrid (some remote, some in-person)

/tmp/ipykernel_1230/1608215532.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(most_frequent, inplace=True)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [12]:
import pandas as pd

# Load dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

# Step 1: Impute missing values (if needed)
df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median(), inplace=True)

# Step 2: Manual Min-Max Scaling
min_val = df['ConvertedCompYearly'].min()
max_val = df['ConvertedCompYearly'].max()

df['ConvertedCompYearly_Normalized'] = (df['ConvertedCompYearly'] - min_val) / (max_val - min_val)

# Step 3: Preview result
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Normalized']].head())

   ConvertedCompYearly  ConvertedCompYearly_Normalized
0              65000.0                        0.003998
1              65000.0                        0.003998
2              65000.0                        0.003998
3              65000.0                        0.003998
4              65000.0                        0.003998

/tmp/ipykernel_1230/2229686370.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median(), inplace=True)

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [13]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

# Step 1: Impute missing values if necessary
df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median(), inplace=True)

# Step 2: Log-transform the ConvertedCompYearly column
# We add a small constant (e.g., 1) to avoid taking the log of zero
df['ConvertedCompYearly_Log'] = np.log(df['ConvertedCompYearly'] + 1)

# Step 3: Preview the result
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Log']].head())

   ConvertedCompYearly  ConvertedCompYearly_Log
0              65000.0                11.082158
1              65000.0                11.082158
2              65000.0                11.082158
3              65000.0                11.082158
4              65000.0                11.082158

/tmp/ipykernel_1230/651449911.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median(), inplace=True)

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [15]:
import pandas as pd

# Load dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

# Step 1: Convert YearsCodePro to numeric, forcing errors to NaN (use 'coerce' to handle invalid entries)
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

# Step 2: Impute missing values in YearsCodePro (if needed) with 0 (assuming they have no experience)
df['YearsCodePro'].fillna(0, inplace=True)

# Step 3: Define experience levels using pd.cut
bins = [0, 2, 5, 10, float('inf')]  # Defining the bins for each experience level
labels = ['Junior', 'Mid-level', 'Senior', 'Lead']  # Labels for each category

# Step 4: Create the new column 'ExperienceLevel'
df['ExperienceLevel'] = pd.cut(df['YearsCodePro'], bins=bins, labels=labels, right=False)

# Step 5: Preview the result
print(df[['YearsCodePro', 'ExperienceLevel']].head())

   YearsCodePro ExperienceLevel
0           0.0          Junior
1          17.0            Lead
2          27.0            Lead
3           0.0          Junior
4           0.0          Junior

/tmp/ipykernel_1230/1378236270.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['YearsCodePro'].fillna(0, inplace=True)

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.